h1{
    text-align: center;
}

.one{
    text-align: center;
}
.two{
    margin-top: 50px;
    text-align: center;
}

.three{
    text-align: center;
    margin-top: 50px;
}

body{
    background-color: grey;
}